/*common code start*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mx-20{
    margin: 0px 20px;
}
.mb-20{
    margin-bottom: 20px;
}
img{
    display: block;
    width: 100%;
    height: 100%;
}
.section-title h2{
    color: #00394f;
    font-size: 40px;
    font-weight: 600;
    font-family: Handlee, cursive;
    line-height: 1.8;
}
.section-title h3{
    color: #17a2b8;
    font-size: 16px;
    font-weight: 400;
    font-family: Nunito, sans-serif;
    line-height: 1.5;
}
.container{
    width: 90%;
    margin: 0 auto;
}
/*common code end*/
/*nav code start*/
nav{
    background: #F8F9FA;
}
.nav-inner{
    clear: both;
    overflow: hidden;
}
/*logo code start*/
.nav-inner .logo{
    width: 25%;
    height: 100%;
    float: left;
}
.nav-inner .logo a{
    color: #17a2b8;
    font-size: 50px;
    font-family: Nunito, sans-serif;
    font-weight: 700;
    padding: 10px 0px;
    display:inline-block;
    text-decoration: none;
}
.nav-inner .logo a .fa-solid{
    color: #000203;
}
.nav-inner .logo a:hover{
    color: #17a2b8;
    font-size: 50px;
    font-family: Nunito, sans-serif;
    font-weight: 700;
    text-decoration: none;
}
/*logo code end*/
/*navber code start*/
.nav-inner .navber{
    width: 60%;
    height: 100%;
    float: left;
}
.nav-inner .navber ul{
    text-align: center;
}
.nav-inner .navber ul li{
    list-style: none;
    display: inline-block;
}
.nav-inner .navber ul li a{
    color: #000203;
    font-size: 16px;
    font-weight: 800;
    font-family:Nunito, sans-serif ;
    margin: 0px 10px;
    padding: 30px 15px;
    text-decoration: none;
    transition: 0.5 all;
    display: inline-block;
}
.nav-inner .navber ul li a.active{
    color: #17a2b8;
}
.nav-inner .navber ul li a:hover{
color: #17a2b8;
}
/*navber code end*/
/* joint button code start*/
.nav-inner .joining-button{
    width: 15%;
    height: 100%;
    float: left;
    padding: 20px 20px;
}
.nav-inner .joining-button a{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family:Nunito, sans-serif ;
    margin: 0px 15px;
    padding: 10px 20px;
    background: #17A2B8;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.5 all;
    display: inline-block;
}
.nav-inner .joining-button a:hover{
    color: #fff;
    background: #138496;
    }
/* joint button code end*/
/*nav code end*/
/*header code start*/
header{
background: #17A2B8;
}
.header-inner{
    clear: both;
    overflow: hidden;
}
/*header contant start*/
.header-contant{
    float: left;
    width: 50%;
    padding: 100px 0px;
}
.header-contant h1{
    color: #fff;
    font-size: 24px;
    font-family: Handlee, cursive;
    font-weight: 700;
    line-height: 1.2;
}
.header-contant h3{
    color: #fff;
    font-size: 70px;
    margin: 20px 0px 0px 0px;
    font-family: Handlee, cursive;
    font-weight: 700;
    line-height: 1.2;
}
.header-contant p{
    color: #fff;
    font-size: 16px;
    font-family: Nunito, sans-serif;
    font-weight: 400;
    margin: 20px 0px 0px 0px;
    line-height: 1.5;
}
.header-inner .header-contant a{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family:Nunito, sans-serif ;
    margin: 0px 15px;
    padding: 10px 20px;
    background: #343a40;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.5 all;
    margin: 20px 0px 0px 0px;
    display: inline-block;
}
.header-inner .header-contant a:hover{
    color: #fff;
    background: #138496;
}
/*header contant end*/
.header-banner{
    float: left;
    width: 50%;
}
.header-banner img{
    width: 100%;
    display: block;
    margin: 30px 0px 0px 0px;
}
/*header code end*/
/*service section start*/
.service-section{
padding: 80px 0px;
}
.service-inner{
    clear: both;
    overflow: hidden;
}
.service-blog{
    float: left;
    height: 100%;
    background-color: #F8F9FA;
    box-shadow: 0px 0px 1px #c2c2c2;
    border-radius: 20px;
    padding: 30px;
    width: 30%;
    margin-top: 5px;
}
.service-blog-icon{
    float: left;
    height: 100%;
    width: 30%;
}
.service-blog-icon i{
    color: #17a2b8;
}
.service-blog-contant{
    float: left;
    height: 100%;
    background: #F8F9FA;
    width: 70%;
}
.service-blog-contant h2{
    color: #00394f;
    font-size: 24px;
    font-family: Handlee, cursive;
    font-weight: 700;
}
.service-blog-contant p{
    color: #666666;
    font-size: 16px;
    font-family: Nunito, sans-serif;
    font-weight: 400;
}
/*service section end*/
/*about us section start*/
.about-us section{
padding: 50px 0px;
}
section.about-us.section {
    margin-top: -60px;
}
.about-inner{
    clear: both;
    overflow: hidden;
}
.about-inner .about-poster{
    width: 40%;
    height: 100%;
    float: left;
}
.about-inner .about-poster img{
    width: 100%;
    height: 100%;
    display: block;
}
.about-inner .about-content{
    width: 60%;
    height: 100%;
    float: left;
    margin: 50px 0px 0px 0px;
}
.about-inner .about-content h3{
    color:#17a2b8;
    font-size: 16px;
    font-weight: 400;
    font-family: Nunito, sans-serif;
    line-height: 1.5;
}
.about-inner .about-content h2{
    color: #00394f;
    font-size: 40px;
    font-weight: 600;
    font-family: Handlee, cursive;
    line-height: 1.8;
}
.about-inner .about-content p{
    color: #666666;
    font-size: 16px;
    font-weight: 400;
    font-family: Nunito, sans-serif;
    line-height: 20px;
}
.about-inner .about-content a{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family:Nunito, sans-serif ;
    margin: 0px 15px;
    padding: 10px 20px;
    background: #17A2B8;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.5 all;
    margin: 20px 0px 0px 0px;
    display: inline-block;
}
/*about conent-inner start*/
.about-content{
    width: 60%;
    height: 100%;
    float: left;
    padding: 30px;
}
.about-content-inner{
    clear: both;
    overflow: hidden;
    margin-top: 20px;
}
/*about conent poster start*/
.about-content-poster{
    width: 40%;
    height: 100%;
    float: left;
}
.about-inner .about-poster img{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 20px;
}
/*about conent poster end*/
.about-content-inner-content ul{
    display: inline-block;
    margin: 0px 0px 0px 40px;
}
.about-content-inner-content ul li{
    color: #666666;
    font-family: Nunito, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid #666666;
    border-top: 1px solid #666666;
}
.about-content-inner-content ul li i{
    color: #17a2b8;
}
/*about conent-inner end*/
.about-inner .about-content a:hover{
    color: #fff;
    background: #138496;
}
/*about us section end*/
/*classes secton start*/
.classes-section{
    padding: 80px 0px;
}
.classes-inner .section-title{
    text-align: center;
}
.classes-inner{
clear: both;
overflow: hidden;
}
.class-content{
    clear: both;
    overflow: hidden;
}
.class-content .card {
    float: left;
    overflow: hidden;
    width: 31.5%;
    text-align: center;
background: #F8F9FA;
border-radius: 5px;
margin: 0px 10px;
}
.class-content .card h3{
    color: #00394f;
    font-size: 16px;
    font-weight: 400;
    font-family: Nunito, sans-serif;
    padding: 20px;
}
.class-content .card p{
    color: #666666;
    font-size: 16px;
    font-weight: 400;
    font-family: Nunito, sans-serif;
    text-align: center; 
    margin: 0px auto;
    padding: 0px 30px;
    line-height: 20px;
}
.class-content .card a{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: Nunito, sans-serif;
    margin: 0px 15px;
    padding: 10px 20px;
    background: #17A2B8;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.5 all;
    margin: 10px 0px 28px 0px;
    display: inline-block;
}
.class-content .card table{
    width: 100%;
    padding: 30px;
    margin-top: 20px;
    border-top: 1px solid #DEE2E6;
}
.class-content .card table th,td{
    color: #666;
    font-size: 16px;
    font-weight: 400;
    font-family: Nunito, sans-serif;
    padding: 5px;
    border-bottom: 1px solid #DEE2E6;
}
.class-content .card table td{
    border-left: 1px solid #DEE2E6;
}
.class-content .card a:hover{
    color: #fff;
    background: #138496;
}
/*classes secton end*/
/*booking section start*/
.booking-section{
    padding: 80px 0px;
}
.booking-inner{
    clear: both;
    overflow: hidden;
}
.booking-inner .booking-content{
    width: 50%;
    height: 100%;
    float: left;
}
.booking-inner .booking-content h2{
    color: #00394f;
    font-size: 40px;
    font-weight: 600;
    font-family: Handlee, cursive;
    line-height: 1.8;
}
.booking-inner .booking-content h3{
    color: #17a2b8;
    font-size: 16px;
    font-weight: 400;
    font-family: Nunito, sans-serif;
    line-height: 1.5;
}
.booking-inner .booking-content p{
    color: #666666;
    font-size: 16px;
    font-weight: 400;
    font-family: Nunito, sans-serif;
    line-height: 20px;
}
.booking-inner .booking-content ul li{
    color: #666666;
    font-family: Nunito, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 10px;
    list-style: none;
}
.booking-inner .booking-content a{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: Nunito, sans-serif;
    margin: 0px 15px;
    padding: 10px 20px;
    background: #17A2B8;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.5 all;
    margin: 20px 0px 0px 0px;
    display: inline-block;
}
.booking-inner .booking-content a:hover{
    color: #fff;
    background: #138496;
}
.booking-inner .booking-content ul li i{
    color: #17a2b8;
}
/* booking form start*/
.booking-inner .booking-form{
    width: 50%;
    height: 100%;
    float: left;
}
.booking-inner .booking-form h2{
    color: #fff;
    background: #00394F;
    padding: 30px;
    text-align: center;
    font-size: 40px;
    font-family: Handlee, cursive;
    font-weight: 700;
    border-radius: 6px 6px 0px 0px;
}
.booking-inner .booking-form form{
    background: #17A2B8;
    padding: 40px;
}
.booking-inner .booking-form form input,
.booking-inner .booking-form form select,
.booking-inner .booking-form form button{
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    border-radius: 6px 6px 6px 6px;
    outline: none;
}
.booking-inner .booking-form form button{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: Nunito, sans-serif;
    margin: 0px 15px;
    padding: 10px 20px;
    background: #6f42c1;
    text-decoration: none;
    border-radius: 50px;
    transition: 0.5 all;
    margin: 20px 0px 0px 0px;
    display: inline-block;
}
.booking-inner .booking-form form button:hover{
    color: #fff;
    background: #343a40;
}
/*booking section end*/
/*teacher code start*/
.teacher-section{
    padding: 80px 0px;
}
.teacher-inner{
    clear: both;
    overflow: hidden;
}
.teacher-inner .teacher-content{
    text-align: center;
}
.teacher-inner .teacher-content h2{
    color: #00394f;
    font-size: 40px;
    font-weight: 600;
    font-family: Handlee, cursive;
    line-height: 1.8;
}
.teacher-inner .teacher-content h3{
    color: #17a2b8;
    font-size: 16px;
    font-weight: 400;
    font-family: Nunito, sans-serif;
    line-height: 1.5;
}

.circle-card {
    position: relative;
    text-align: center;
    width: 25%;
    padding: 30px;
    float: left;
}

.circle-card h2 {
    color: #00394f;
    font-size: 24px;
    font-weight: 400;
    font-family: Handlee, cursive;
}

.circle-card h3 {
    color: #666666;
    font-size: 16px;
    font-weight: 400;
    font-family: Nunito, sans-serif;
}

/* .circle-card img {
    position: relative;
    width: 100%;
    height:auto;
    display: block;
    border: 1px solid #fff;
    border-radius: 50%;
} */


.circle-card .circle-card-img{
    position: relative;
    width: 100%;
    height:100%;
    border: 1px solid #fff;
    border-radius: 100%;
    overflow: hidden;
}

.circle-card .circle-card-img img {
    display: block;
    width: 100%;
    height: 100%;
}

.circle-card .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background 0.3s ease-in-out;

    display:flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.social-link {
    display: none;
}

.social-link i{
    color: white;
    font-size: 24px;
}
.social-link i a{
    border: 1px solid #fff;
    border-radius: 50%;
}
.social-link i a:hover{
    color: #000203;
}
.circle-card:hover .overlay{
    background: rgba(0,0,0,0.5);
}
.circle-card:hover .social-link{
    display: block;
}
footer{
    background: #00394F;
}
.footer-section{
    clear: both;
    overflow: hidden;
}
.footer-content{
    width: 25%;
    height: 100%;
    float: left;
}
.footer-content a{
    color: #fff;
    font-size: 50px;
    font-family: Nunito, sans-serif;
    font-weight: 700;
    padding: 10px 0px;
    display: inline-block;
    text-decoration: none;
}
.footer-content a .fa-solid{
    color: #17a2b8;
}
.footer-content a .fa-solid:hover{
    color: #17a2b8;
}
.footer-content P{
    color: #fff;
    font-size: 16px;
    font-family: Nunito, sans-serif;
    font-weight: 400;
    margin: 20px 0px 0px 0px;
    line-height: 1.5;
}
